body{
	width: 100%;
	height: 100%;
	background-image: url(44.jpg);
}

.figure {
position: absolute ;
top: 80px;
left: 120px;
width: 100px;
height: 100px;
background-color: orange;
animation-name: spin;
animation-duration: 5s;
animation-iteration-count: infinite;


}

@keyframes spin {
  0%{
	transform: rotate(0deg);
	transform: translate(0px,0px);
}
35%{
  background-color: pink;
  transform: translate(300px,0px);
}
50%
{
	background-color:purple ;
	transform: translate(300px,300px);
}
75%
	{transform: translate(0px,300px);
	}
100%{
	transform: rotate(360deg);
transform: translate(0px,0px);
   }
}
.watermelon {
position: relative;
top: 80px;
left: 430px;
width: 400px;
height: 180px;
background-color: #179245;
border-radius: 0% 0% 200px 200px;
}

.red{
position: absolute;
width: 350px;
height: 150px;
left: 25px;
border-radius: 0% 0% 230px 230px;
background-color: #FF4D4D;

}
.seed1{
position: absolute;
width: 10px;
height: 17px;
background-color: black;
border-radius: 60% 60% 60% 60%;
transform: rotate(30deg);
left: 25px;
top: 15px;

}
.seed2{
position: absolute;
width: 10px;
height: 17px;
background-color: black;
border-radius: 60% 60% 60% 60%;
transform: rotate(30deg);
left: 130px;
top: 70px;

}
.seed3{
position: absolute;
width: 10px;
height: 17px;
background-color: black;
border-radius: 60% 60% 60% 60%;
transform: rotate(30deg);
left: 100px;
top: 30px;

}
.seed4{
position: absolute;
width: 10px;
height: 17px;
background-color: black;
border-radius: 60% 60% 60% 60%;
transform: rotate(30deg);
left: 200px;
top: 45px;

}
.seed5{
position: absolute;
width: 10px;
height: 17px;
background-color: black;
border-radius: 60% 60% 60% 60%;
transform: rotate(30deg);
left: 300px;
top: 40px;

}
.seed6{
position: absolute;
width: 10px;
height: 17px;
background-color: black;
border-radius: 60% 60% 60% 60%;
transform: rotate(30deg);
left: 180px;
top: 120px;
}
.water{
position: absolute;
width: 50px;
height: 50px;
background-color: #FF4D4D;
border-radius: 50% 50% 0% 50%;
transform:rotate(30deg) ;
left: 40px;
top:-80px ;

}

.text {
	color: white;
position: absolute ;
top: 80px;
left: 1200px;
width: 100px;
height: 100px;	
}

.text2 {
	color: white;
position: absolute ;
top: 5px;
left: 80px;
width: 100px;
height: 100px;	
}